<!doctype html>
<html>
<head>
    <title>
        EasyFood
    </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 

<style> 
    #block{
        font-family: cursive;
    }
    
    .items{
        display: flex;
        overflow-x: auto;
        color: #FFFFFF;
    }
    .items .item{
        min-width:300px;
        min-height: 150px;
        margin: 10px;
        color: #FFFFFF;
    }
    #map {
        height: 200px;
        width: 100%;
        margin: 10px;
        margin-right: 10px;
    }
    .card-title{
        font-style: 
    }
    #im{
        padding-left: 15px;
    }
    .order-card {
        color: #fff;
    }

    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }
    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,65,0.16);
        box-shadow: 0 2px 2.94px 0.06px rgba(4,26,65,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        color: #FFFFFF;
    }
    .card-body{
        color: #FFFFFF;
    }

</style> 

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="/static/logo/favicon.png"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">

        <!--linear icon css-->
		<link rel="stylesheet" href="/static/css/linearicons.css">

		<!--animate.css-->
        <link rel="stylesheet" href="/static/css/animate.css">

		<!--flaticon.css-->
        <link rel="stylesheet" href="/static/css/flaticon.css">

		<!--slick.css-->
        <link rel="stylesheet" href="/static/css/slick.css">
		<link rel="stylesheet" href="/static/css/slick-theme.css">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="/static/css/bootsnav.css" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="/static/css/style.css">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="/static/css/responsive.css">







</head>
<body>      
            <div class="row">
                <div class="col-sm-11">
                    <div class="navbar-header">
				        <a class="navbar-brand" style="font-size: 25px;" href="/">Easy<span>food</span></a>
				    </div>
                </div>
                <div class="col-sm-1">
                    <div class="navbar-header">
                        <a class="navbar-brand" style="font-size: 15px;" href="/logout">
                        <img style="height: 30px; width: 30px;" src="static/images/food/logout.JPG"></img>
                        </a>
                    </div>
                </div>
            </div>


    
			
			<div class="card text-black bg-danger mb-3" style="padding: 15px;" >
            
				<div class="welcome-hero-serch-box">
					<div class="welcome-hero-form">
						<div class="single-welcome-hero-form">
							<h3>what?</h3>
							<form action="/index" method="POST">
								<input type="text" name="name" id="name" placeholder="Ex: Cuisine or food name" />
							
							<div class="welcome-hero-form-icon">
								<i class="flaticon-list-with-dots"></i>
							</div>
						</div>
						<div class="single-welcome-hero-form">
							<h3>City</h3>
							<input type="text" name="city" id="city" placeholder="Ex: Nagpur" />
							
							<div class="welcome-hero-form-icon">
								<i class="flaticon-gps-fixed-indicator"></i>
							</div>
						</div>
					</div>
					<div class="welcome-hero-serch">
					
						<button class="welcome-hero-btn">
							 search  <i data-feather="search"></i> 
						</button>
					</form>
					</div>
				</div>
                <div>
                    <br>
                </div>
            </div>
    

		
    <div  id="map">
        <script>
                
                
                function initMap(){
                    var location = {lat: {{ lat }}, lng: {{ lon }}};
                    var map = new google.maps.Map(document.getElementById("map"),{
                        zoom: 13,
                        center: location
                    });
                    {% for i in new %}
                        addMarker({lat: {{ i['restaurant']['location']['latitude'] }}, lng: {{ i['restaurant']['location']['longitude'] }}});
                    {% endfor %}
                    function addMarker(coords){
                        var marker = new google.maps.Marker({
                        position: coords,
                        map: map
                    });
                    }
                }
                
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC44zlI2R9HH6tI1eVcahOi3sxNMD3w-9I&callback=initMap"></script>
    </div>

    {% for j in data1 %}
    {% for k in j['restaurants'] %}
    {% for i in new %}
    
    {%- if i['restaurant']['name']|replace("The","")|replace("Restaurant","")|replace("&","and")|replace("Hotel","")|replace(" ","")|replace("'","")|replace("-","")|lower == k['name']|replace("The","")|replace("Restaurant","")|replace("&","and")|replace("Hotel","")|replace(" ","")|replace("'","")|replace("-","")|lower -%}
    

        <div class="row" style="padding-bottom: 10px;padding-left: 10px;">
        <div class="col-md-2">

        </div>
        <div class="col-md-8"  id="block">
            <div class="card bg-c-blue order-card w-100" style="padding: 1%;margin: 10px;">
            <div class="row no-gutters">
                <div class="col-md-4" id="im">

                    <img style="border-radius: 5px;" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_400,h_400,c_fill/{{ k['cloudinaryImageId'] }}">
                </div>
                <div class="col-md-4">
                
                        <div class="card-body">
                        <h5 class="card-title" style="color: #FFFFFF;"><span style="font-size: 25px;">{{ i['restaurant']['name'] }}</span></h5><br> 
                        <h6 class="card-title" style="color: #FFFFFF;">Location:</h6>
                        <p class="card-text" style="color: #FFFFFF;">{{ i['restaurant']['location']['address'] }}</p><br>    
                        <h6 class="card-title" style="color: #FFFFFF;">Rating:</h6>
                        <p class="card-text" style="color: #FFFFFF;">{{ i['restaurant']['user_rating']['aggregate_rating'] }}</p>
                        <p class="card-text" style="color: #FFFFFF;">{{ i['restaurant']['user_rating']['votes'] }}+ ratings</p>
                        </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h6 class="card-title" style="color: #FFFFFF;">Cost For Two Person:</h6>
                        <p class="card-text" style="color: #FFFFFF; font-size:15px;">Zomato offers: {{ i['restaurant']['currency'] }} {{ i['restaurant']['average_cost_for_two'] }} FOR TWO</p>
                        <br>
                        <button style="background-color: #f7a54a; border-color: #f7a54a; margin-left:60px; margin-up:40px;" onclick="window.location.href='{{ i['restaurant']['url'] }}'" class="btn btn-primary">View Menu</button>
                        
                        <br>
                        <br>
                        <p class="card-text" style="color: #FFFFFF; font-size:15px;">Swiggy offers: Rs. {{ k['costForTwo']//100 }} FOR TWO</p>
                        <br>
                        <button style="background-color: #f7a54a; border-color: #f7a54a; margin-left:60px; margin-up:40px;" onclick="window.location.href='https://www.swiggy.com/restaurants/{{ k['slugs']['restaurant'] }}-{{ k['slugs']['city'] }}-{{ k['id'] }}'" class="btn btn-primary">View Menu</button>
                    
                    </div>
                </div>   
            </div>
            </div>
        </div>
        <div class="col-md-2">
        
        </div>
    </div>
    
        
    
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endfor %}
        

    
    <br>
    <h1 style='font-size: 200%'>    Near By Recommended Restaurants</h1><br>
    <div class="row no-gutters" style="margin: 10px;">
    <div class="items">
    {% for i in newg %}
            <div class="card item bg-c-blue" id="block" style="width: 25rem;">
                <img style="border-radius: 5px; padding:10px;" src="{{ i['restaurant']['thumb'] }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: #FFFFFF;">{{ i['restaurant']['name'] }}</h5>
                    <p class="card-text text-center" style="color: #FFFFFF;">Cuisines :{{ i['restaurant']['cuisines'] }}</p>
                    <div><p class="card-text text-center" style="color: #FFFFFF;">Cost For Two :{{ i['restaurant']['average_cost_for_two'] }}      Rating :{{ i['restaurant']['user_rating']['aggregate_rating'] }} </p>
                    </div>
                    <div class="card-body text-center">  <button style="background-color: #f7a54a; border-color: #f7a54a;" onclick="window.location.href='{{ i['restaurant']['url'] }}'" class="btn btn-primary">Visit Page</button>
                </div>
                </div>
            </div> 
    {% endfor %}  
    </div>
   </div>

    
</body>
</html>